* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.box {
  width: 90%;
}
.navbar {
  width: 100%;
  position: fixed;
  background-color: #2f6c6f;
}

.navbar .box .logo img {
  width: 70px;
}

.navbar .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .box .menu {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar .box .menu li a {
  text-decoration: none;
  color: white;
  font-size: 0.9em;
  font-weight: 400;
}

.navbar .box .menu li a:hover {
  color: #a1e4e8;
  border-bottom: 1px solid #a1e4e8;
}

.navbar .box .menu-bar {
  color: white;
  font-size: 24px;
  display: none;
}

/* hero */
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../img/coffe.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 115vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  padding-top: 80px;
  padding-left: 15%;
}

.hero .box-hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 50px;
}

.hero .box-hero .box1 h2 {
  color: white;
  padding-top: 100px;
  padding-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 3vw;
  font-weight: 700;
}

.hero .box-hero .box1 {
  padding-left: 10px;
}

.hero .box-hero .box1 p {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  padding-bottom: 10px;
}

.hero .box-hero .box img {
  width: 100%;
  color: blue;
}

/* payments */

.card {
  background-color: #a1e4e8;
  margin-left: 35px;
  margin-right: 35px;
  border-radius: 5px;
  margin-top: 10px;
}

.card .row .col h2 {
  color: black;
  padding-top: 10px;
  text-align: center;
  padding-bottom: 5px;
  font-family: "Libre Baskerville", serif;
  font-size: 24px;
  font-weight: 700;
}

.card .row .info .via img {
  width: 50px;
  padding-top: 5px;
}

.card .row .info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
}

.card .row .info .via {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  font-size: 1.4rem;
  border: 1px solid black;
  border-radius: 5px;
  width: 60px;
}

.card .row .info p {
  font-weight: 600;
  font-size: 14px;
  font-family: "Libre Baskerville", serif;
}

/* pilih menu */
.hero-menu1 {
  background-color: aliceblue;
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap;
}

.menu1-section {
  background-color: #a1e4e8;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu1-section h2 {
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-family: "Gupter", serif;
  font-weight: bold;
  font-size: 24px;
}

.menu1 {
  list-style-type: none;
  padding: 0;
}

.menu1 li {
  background-color: #fff;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  text-align: center;
}

/* list menu */
.list-menu {
  background-color: #a1e4e8;
  padding: 20px;
  margin-left: 35px;
  margin-right: 35px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

.menu2 {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1;
  padding: 10px;
}

.column h2 {
  text-align: center;
  color: #181717;
  margin-bottom: 20px;
  font-family: "Gupter", serif;
  font-weight: bold;
  font-size: 24px;
}

.item {
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
}

.item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10%;
  margin-bottom: 10px;
}

.item h3 {
  margin: 0;
  color: #333;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
}

.item p {
  margin: 5px 0 0;
  color: #888;
}

/* lokasi */

.lokasi {
  margin-top: 10px;
  height: 200px;
  margin-left: 35px;
  margin-right: 35px;
  border-radius: 8px;
  background-color: #f0f0f0;
}

.lokasi .map {
  display: flex;
  margin-top: 2rem;
  background-color: #f0f0f0;
}

.lokasi .map {
  flex: 1 1 45rem;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* contact */
.contact {
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: #a1e4e8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #a1e4e8;
  margin-left: 35px;
  margin-right: 35px;
}

form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

form input[type="text"],
form input[type="tel"],
form input[type="email"],
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #a1e4e8;
  border-radius: 4px;
  box-sizing: border-box;
}

form textarea {
  height: 100px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #2f6c6f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #1b3c3e;
}

/* icon */

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: aliceblue;
  margin-top: 10px;
  height: 50px;
}
.icon li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.icon li a i {
  color: #2f6c6f;
  font-size: 1rem;
}

.icon li a i:hover {
  color: black;
}

.icon .copy p {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 700;
}
/* media quary */

@media screen and (max-width: 990px) {
  .navbar .box .menu {
    background-color: #2f6c6f;
  }

  .navbar .box .menu-bar {
    display: block;
    height: 30px;
  }

  .navbar .box .menu {
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 200px;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    top: 70px;
    right: 50%;
    transform: translateX(50%);
    opacity: 0;
    transition: all 0.3s ease;
  }

  .navbar .box .menu.menu-active {
    top: 80px;
    opacity: 1;
  }

  .hero .box-hero .box1 p {
    font-size: 14px;
  }

  .card {
    margin-right: 35px;
    margin-left: 35px;
    border-radius: 5px;
  }
}

@media screen and (max-width: 768px) {
  .navbar .box .menu {
    background-color: #2f6c6f;
  }
  .hero .box-hero {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding-top: 100px;
  }

  .hero .box-hero .box1 {
    order: 2;
    text-align: center;
    padding-top: 0px;
    padding-right: 20%;
  }

  .hero .box-hero .box {
    order: 1;
    text-align: center;
  }

  .hero .box-hero .box img {
    width: 40vw;
    text-align: center;
  }

  .hero .box-hero .box1 h2 {
    height: 50px;
    text-align: center;
    padding-top: 0px;
  }

  .hero .box-hero .box1 p {
    font-size: 14px;
  }

  .hero .box-hero .box1 button {
    padding-bottom: 10px;
  }

  .hero .box-hero .box1 {
    padding-top: -1px;
    padding-right: 10%;
    align-items: center;
    width: 90%;
    padding-top: 0;
  }

  .card {
    margin-right: 35px;
    margin-left: 35px;
    border-radius: 5px;
  }
  .menu2 {
    flex-direction: column;
    align-items: center;
  }

  .column {
    max-width: 100%;
    padding: 10px 0;
  }

  .item img {
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 480px) {
  .menu1-section {
    width: 40%;
  }

  .hero .box-hero .box1 h2 {
    height: 50px;
    text-align: center;
    padding-top: 0px;
    font-size: 24px;
  }

  .hero .box-hero .box1 p {
    font-size: 14px;
  }

  .hero .box-hero .box1 button {
    padding-bottom: 10px;
  }

  .hero .box-hero .box1 {
    padding-top: -1px;
    padding-right: 10%;
    align-items: center;
    width: 90%;
    padding-top: 0;
  }
}
